/*version mobile first*/
#com {
    color: red;
    font-size: 28px;
    font-weight: bold;

}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 10px 20px;
}

.nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 15px;
}

a {
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
    font-size: 19px;
}

section{
    margin-bottom: 60px;
}

.fleur {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 2px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

#fushia:hover {
    transform: scale(1.1);
}

#fushia:active {
    transform: scale(0.9);
}

/* Tablette et plus */
@media (min-width: 768px) {
  body {
    font-size: 18px;
    background: lightgray;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  body {
    font-size: 20px;
   }

 #com {
        font-size: 40px;
    }
    
    header {
        font-size: 28px;
    }
    .nav-list {
        font-size: 18px;
    }
    .fleur {
        width: 400px;
        height: 400px;
    }
}